@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import "tailwindcss";

:root {
  --background-primary: #ffffff;
  --background-secondary: #ffc787;

  --primary-color: #4923f4;
  --text-color: #030712;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-color);
  height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
